@import '../../utility/styles.css';

/* Video container */
.video__container {
  width: 99vw;
  height: auto;
  margin: 1rem 0;
}
iframe {
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}
.video__title {
  width: auto;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
  margin: 1rem 2rem;
}
.video__title__tag {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  margin: 1rem 2rem;
  background-color: var(--tag);
  padding: 0.5rem;
  border-radius: 5px;
  width: fit-content;
}
.video__creator {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--white);
  margin: 0.5rem 2rem;
  text-transform: uppercase;
  background-color: var(--tertiary);
  padding: 0.75rem;
  border-radius: 5px;
  width: max-content;
}
.video__description {
  font-size: 1.25rem;
  color: var(--white);
  margin: 0.5rem 2rem;
  font-weight: normal;
}
.video__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 2rem;
}
.video__button {
  border: none;
  margin: 0 1rem 0 0;
  padding: 0.75rem 1rem;
  font-size: 1.15rem;
  border-radius: 20px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--tertiary);
  cursor: pointer;
}
.video__button i {
  padding: 0;
  margin: 0 0.5rem 0 0;
}
.video__button:hover,
.video__button.liked {
  background-color: var(--tag);
  color: var(--white);
}

/* Comments */
.comments {
  color: var(--white);
  margin: 0.5rem 2rem;
  width: auto;
}
.comments__heading,
.comments__heading__tag {
  display: inline-block;
  font-size: 1.25rem;
  margin: 1.5rem 0.5rem;
  background-color: var(--white);
  border-radius: 5px;
  padding: 0.5rem;
  color: var(--tertiary);
  width: max-content;
}
.comments__heading__tag {
  background-color: var(--tag);
  color: var(--white);
}
.comments__input {
  width: 70%;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  background: transparent;
  color: var(--white);
  border-bottom: 2px solid var(--dismiss--light);
}
.comments__statement {
  max-width: 80%;
  font-size: 1.25rem;
}
.btn__trash {
  padding: 0.45rem 0.15rem;
  border-radius: 5px;
  border: none;
  color: var(--tag);
  border-radius: 50%;
  margin: 0 0.5rem;
}
.stack {
  width: 90%;
}
.stack__item {
  width: 100%;
  margin: 0.5rem;
  background-color: var(--tertiary);
  border: 1px solid var(--tertiary);
  padding: 0.75rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stack__item div {
  display: flex;
  align-items: center;
}
.stack__item[index='odd'] {
  background-color: var(--tertiary--light);
  border: 1px solid var(--dismiss--light);
}
.back {
  color: var(--tertiary);
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: var(--white);
  border-radius: 5px;
}

/*Media Query Screens */
@media screen and (min-width: 1024px) {
  .video__iframe {
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--tertiary);
  }
  .video__control {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  iframe {
    height: auto;
    width: 100%;
    aspect-ratio: 26/9;
  }
  .stack {
    width: 60%;
  }
  .comments {
    width: 100%;
  }
  .comments__input {
    width: 60%;
  }
  .comments__statement {
    max-width: 60%;
  }
}
